.firstmain {
  display: flex;
  gap: 40px;
  margin-left: 200px;
}
.main {
  background-color: rgb(114, 6, 6);
  width: 200px;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}
.card {
  border-radius: 50px;
}
img {
  margin-top: 30px;
  margin-left: 10px;
  width: 180px;
  height: 180px;
  box-shadow: 2px 4px 5px rgba(206, 50, 76, 0.589);
  background: linear-gradient(to right, red, blue, green);
  border-radius: 150px;9
}
.name {
  margin-left: 20px;
  color: red;
}
.like{
  display: flex;
  margin-left: 20px;
  gap: 20px;
}
.logo {
  display: flex;
  gap: 35px;
  margin-left: 7px;
}
.icon {
  border-radius: 50px;
  background-color: bisque;
}
.btn button {
  margin-top: 20px;
  border-radius: 20px;
  width: 200px;
  background-color: aqua;
  color: black;
}
.btn button:hover {
  font-size: larger;
  cursor: pointer;
  margin-left: 10px;
  transition: 1s;
  border-radius: 10px;
  border-bottom: 2px solid rgb(212, 184, 184);
  border-right: 2px solid rgba(8, 189, 32, 0.473);
  width: 180px;
}
