.main {
  display: flex;
  padding: 10px;
  margin-top: 40px;
  margin-right: 40px;
}
.con1 {
  display: flex;
  padding: 40px;
  flex-direction: column;
  background-color:red;
}
.con1,.con2{
color: white;
}
.con2{
  gap: 70px;
  background-color: red;
  display: flex;
  margin-top: 270px;
  flex-direction: column;
}
.con3 a:hover{
  color: blue;
}
.con3 a{
  color: white;

  padding: 40px;
  margin-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.search{
  border-radius: 50px;
 padding: 5px;
  font-size: larger;
}
.login:hover{
  background-color: blue;
}
.login{
  background-color: red;
  color: white;
  padding: 10px;
  width: 90px;
  font-size: large;
  border-radius: 40px;
}
.main2 {
  display: flex;
  gap: 360px;
  margin-top:180px;
  margin-left: 20px;
}
.con4 h1 {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
}
.con4 u:hover {
  color: red;
}
.con4 {
  margin-left: 50px;
}
.input{
width: 390px;
font-size: larger;
border-radius: 50px;
padding: 10px;
}
.sign{
  padding:10px;
  font-size:larger;
  width: 400px;
  margin-top: 20px;
  color: white;
  background-color: red;
  border-radius: 50px;
}
.sign:hover{
  background-color: blue;
  font-size: xx-large;
}
.con5{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.con5 img{
    width: 380px;
    height: 60vh;
}
@media  (min-width:400px){
  body{
  flex-wrap: wrap;
}}