body {
  background-image: url("assets/OIP\ \(1\).webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  border: 2px;
  border-color: black;
  border-radius: 20px;
}

* {
  padding: 10px;
  margin: 10px;
  color: white;
}
.image img {
  width: 600px;
  height: 400px;
  border-radius: 50px;
  background-size: cover;
 }
.nav {
  display: flex;
  position: sticky;
  top: 20px;
  gap: 30px;
  background-color: rgba(1, 1, 26, 0.89);
  color: white;
}
span {
  font-size: larger;
  color: darkmagenta;
}
a {
    font-family: Arial, Helvetica, sans-serif;
  color: rgb(253, 249, 249);
  text-decoration: none;
}
a:hover {
  font-size:larger;
  color: red;
}
i {
  background-color: rgb(112, 69, 12);
  border-radius: 50px;
  border: 2px solid rgb(9, 148, 190);
}
.main1 {
  display: flex;
  justify-content: space-between;
}
.con1 {
  margin-left: 150px;
  
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:45px;
}
h1,p,h3 {
  font-family: sans-serif;
}
button {
  background-color: rgba(0, 0, 0, 0.548);
  padding: 20px;
  margin-top: 30px;
  border-radius: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
font-weight: 100px;
}
.con2 {
  display: flex;
}
.con3 {
  display: flex;
  margin-left: 60px;
}
button:hover{
    font-size: larger;
}