div{
    border: 5px solid red;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row-reverse;
}